html {
    font-family: 'figtree';
    font-weight: 800;
}

@font-face {
    font-family: 'figtree';
    src: url('fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #06171E;
    color: #FFFFFF;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 128px 0 64px 0;
}

.ContentLimit {
    max-width: 1440px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: #09212A;
    padding: 0 48px;
}

.HeaderLogo {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*main*/

main {
    flex: 1;
    margin-bottom: 64px;
}

#MainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border-width: 2px;
}

/*footer*/

footer {
    background-color: #09212A;
    padding: 24px 48px;
}

.DA-Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}

.DA {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

span {
    font-weight: 400;
    color: #627B84;
}

@media (max-width:640px) {

    h1 {
        font-size: 32px;
        padding: 0 16px;
        margin: 48px 0 48px 0;
    }

    header {
        display: flex;
    }

    .image {
        height: 120px;
        width: 120px;
    }

    span {
        font-size: 12px;
    }
}