html {
    font-family: 'figtree';
    font-weight: 800;
}

@font-face {
    font-family: 'figtree';
    src: url('fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}


body {
    background: #06171E;
    color: #FFFFFF;
    margin: 0;
}

.content-limit {
    max-width: 1440px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: #09212A;
    padding: 0 48px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}