html {
    font-family: 'figtree';
    font-weight: 800;
}

@font-face {
    font-family: 'figtree';
    src: url('fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #06171E;
    color: #FFFFFF;
    margin: 0;
}

body:has(dialog#myDialog[open]) {
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 128px 0 64px 0;
}

h2 {
    margin: 0;
}

.ContentLimit {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    flex: 1;
}

/*Header*/

.MainHeader {
    background-color: #09212A;
    padding: 0 48px;
}

.HeaderLogo {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*Main Section*/

.MainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
    padding: 16px;
}

.image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border-width: 2px;
}

.image:hover {
    transform: scale(0.9);
}

img {
    cursor: pointer;
}

/*Dialog*/

.DialogAlbum {
    margin: auto;
    background-color: #09212A;
    height: 660px;
    width: 600px;
    padding: 0;
    border-radius: 16px;
    border-width: 0;
}

.DialogHeader {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFFFFF;
}

.DialogAlbum main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DialogImage {
    object-fit: cover;
    height: 480px;
    width: 480px;
    border-radius: 16px;
    border-width: 2px;
}

.DialogNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    gap: 10px;
    color: #FFFFFF;
}

/*Footer*/

footer {
    background-color: #09212A;
    padding: 24px 20px;
}

.DA-Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}

.DA {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

span {
    font-weight: 400;
    color: #627B84;
}

/*Responsive*/

@media (max-width:640px) {

    h1 {
        font-size: 32px;
        padding: 0 16px;
        margin: 48px 0 48px 0;
    }

    header {
        display: flex;
    }

    .image {
        height: 120px;
        width: 120px;
    }

    span {
        font-size: 16px;
    }
}

@media (max-width:520px) {

    .DialogAlbum {
        height: 370px;
        width: 320px;
    }

    .DialogHeader {
        padding: 5px;
    }

    .DialogImage {
        height: 240px;
        width: 240px;
    }

    .DialogNav {
        margin: 12px 0;
        gap: 10px;
    }
    
}